.page-header {
    min-height: 50vh;
    background-color: #ff4813;
    background-image: url('../images/UPR-Logo.svg');
    background-repeat: no-repeat;
    background-size: auto 150%;
    background-position: 90% -5%;
}

high {
    font-size: 1.2rem;
    font-weight: bolder;
}

box {
    display: block;
    border: 3px solid #ff4813;
    padding: 0.5rem 0.75rem;
}

.main-content h1,
.main-content h2,
.main-content h3,
orange {
    color: #ff4813;
}